## Adopted from https://github.com/github/gitignore/blob/master/TeX.gitignore
## changed to exclude ambiguous suffixes only in root directory, since e.g. *.log files in Data/ directory are valid tracking candidates
## Core latex/pdflatex auxiliary files:
*.aux
/*.lof
*.log
/*.lot
/*.fls
/*.out
/*.toc
*.loc
*.soc
# these rules might exclude target builds (pdf) in root directory etc.
*.dvi
*-converted-to.*
# these rules might exclude image files for invalid figure formats etc.
*.ps
/*.eps
/*.pdf
## Bibliography auxiliary files (bibtex/biblatex/biber):
/*.bbl
/*.bcf
/*.blg
/*-blx.aux
/*-blx.bib
/*.brf
/*.run.xml
*Notes.bib
## Build tool auxiliary files:
/*.fdb_latexmk
/*.synctex.gz
/*.synctex.gz(busy)
/*.pdfsync
## Auxiliary and intermediate files from other packages:
# algorithms
/*.alg
/*.loa
# amsthm
/*.thm
# beamer
/*.nav
/*.snm
/*.vrb
# (e)ledmac/(e)ledpar
/*.end
/*.[1-9]
/*.[1-9][0-9]
/*.[1-9][0-9][0-9]
/*.[1-9]R
/*.[1-9][0-9]R
/*.[1-9][0-9][0-9]R
/*.eledsec[1-9]
/*.eledsec[1-9]R
/*.eledsec[1-9][0-9]
/*.eledsec[1-9][0-9]R
/*.eledsec[1-9][0-9][0-9]
/*.eledsec[1-9][0-9][0-9]R
# glossaries
/*.acn
/*.acr
/*.glg
/*.glo
/*.gls
# hyperref
/*.brf
# listings
/*.lol
# makeidx
/*.idx
/*.ilg
/*.ind
/*.ist
# minitoc
/*.maf
/*.mtc
/*.mtc[0-9]
/*.mtc[0-9][0-9]
# minted
/*.pyg
# morewrites
/*.mw
# nomencl
/*.nlo
# sagetex
/*.sagetex.sage
/*.sagetex.py
/*.sagetex.scmd
# sympy
/*.sout
/*.sympy
sympy-plots-for-*.tex/
# todonotes
/*.tdo
# xindy
/*.xdy

## additional file suffixes not mentioned above (project specific)
# \RequirePackage recorder
/*.dep
# pgfplots, pgfplotstable
/*.pgf-plot.gnuplot
/*.pgf-plot.table
/*.x.gnuplot
/*.x.table
# tikz externalize
/*.figlist
/*.makefile
/*.auxlock

## GSP Makefile
/draft.flag
/spellcheck-report.txt
*.tex.unkwrd
*.tex.chktex

## editor scratch files
# TeXStudio
*.bak~
# vim editor
*.swp
# Kile editor
/*.backup

## filesystem - stale NFS handle
.nfs*

## files produced by Vim
*~

## PDFs in data-directory might change very often
data/*.pdf
figures/*.eps
simulation/*.pdf
production/*.eps
production/*.pdf
production/*.txt
simulation/benchmark/*.txt
simulation/benchmark/*.pdf

## directory without need for version control
simulation/*.txt
exact-diag/*.bin
exact-diag/*.txt
exact-diag/*.mma

## compiled files
*.o
*.so
exact-diag/main
exact-diag/analyse
production/main
production/analyse
simulation/ising_noisy_trace
simulation/exact

## temporary files
*.RData
*_long.R
*_short.R
*_long.sh
*_short.sh
job_script_L_*.sh
llr_vs_reweighting_L_*.R

## simulation results
production/L_*
*.out
*.err
output
errors
overflow

## for arxiv
real-time-llr.zip
